{% extends "base.html" %}

{% block title %}Cluster {{ cluster.cluster_id }} Details{% endblock %}

{% block content %}
    <h1 class="mb-4">Cluster {{ cluster.cluster_id }} - All Images</h1>
    <div class="container">
        <div class="row">
            {% for face_image in cluster.images %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <a href="{{ url_for('show_image', person_id=face_image['person_id'], image_path=face_image['image_path']) }}">
                    <img src="{{ url_for('uploaded_file', filename=face_image['image_path']) }}"
                         class="card-img-top img-fluid"
                         alt="Face Image" style="object-fit: cover; height: 300px; width: 100%;">
                    </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ url_for('show_person', person_id=face_image['person_id']) }}">
                                    {{ face_image['name'] if face_image['name'] else 'Person ID: ' + face_image['person_id']|string }}
                                </a>
                            </h5>
                            <p class="card-text">Image Count: {{ face_image['image_count'] }}</p>
                            <p class="card-text">Mean Age: {{ face_image['mean_age']|round(1) if face_image['mean_age'] else 'N/A' }}</p>
                            {% if face_image['url'] %}
                                <p class="card-text"><a href="{{ face_image['url'] }}" target="_blank">{{ face_image['url'] }}</a></p>
                            {% endif %}
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('list_clusters') }}" class="btn btn-secondary mt-4">Back to Clusters</a>
    </div>
{% endblock %}
