<!-- reassign_face_embedding.html -->
{% extends "base.html" %}

{% block title %}Reassign Face Embedding{% endblock %}

{% block content %}
    <h1>Reassign Face Embedding</h1>

    <form method="POST" action="{{ url_for('reassign_face_embedding', embedding_id=embedding_id) }}">
        <div class="form-group">
            <label for="new_person_id">Select Existing Person:</label>
            <select class="form-control" id="new_person_id" name="new_person_id">
                {% for person in persons %}
                    <option value="{{ person[0] }}">{{ person[1] if person[1] else 'Person ID: ' + person[0]|string }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="True" id="create_new_person" name="create_new_person">
            <label class="form-check-label" for="create_new_person">
                Create New Person
            </label>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Reassign</button>
    </form>

    <a href="{{ url_for('show_person', person_id=embedding_id) }}" class="btn btn-secondary mt-4">Cancel</a>
{% endblock %}
